<div class="login-content">
  <form
    id="dialerLoginForm"
    name="dialerLoginForm"
    role="form"
    novalidate
  >

    <div class="login-card">
      <div class="mat-headline">
        CUY
        <span class="sub-title">Agent</span>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Group</mat-label>
        <input
          type="text"
          aria-label="Group"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        >
        <mat-icon matPrefix>home</mat-icon>
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
        >
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Station</mat-label>
        <input
          matInput
          required
        >
        <mat-icon matPrefix>home</mat-icon>
        <mat-hint>Extension, Phone or IP</mat-hint>
      </mat-form-field>

      <div class="login-bottom">
        <a
          (click)="logout()"
          href=""
        >Use another account</a>

        <div class="login-button">
          <button
            mat-button
            mat-stroked-button
            color="primary"
            (click)="loginToDialer()"
          >
            Connect
            <span class="lines"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
