.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.login-card {
  display: flex;
  flex-direction: column;
  width: 400px;

  >* {
    width: 100%;
  }

  .login-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;

    a {
      text-decoration: none;
    }
  }
}
